body{
    background-color: rgb(155, 141, 124);
    
}

main{
    text-align: center;
    justify-items: center;
    

}
.container{
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}

.game{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.box{
    height: 100px;
    width: 100px;
    border: 1px,solid,grey;
    border-radius: 20px;
    border: none;
    box-shadow: 100px ;
    font-size: 30px;
    color: rgb(113, 62, 0);
    background-color: white;
}

#reset{
    margin-top: 40px;
    padding: 10px;
    background-color: rgb(157, 112, 57);
    color: white; 
    border-radius: 10px;  
}

.newgame{ 
    margin-top: 40px;
    padding: 10px;
    background-color: rgb(157, 112, 57);
    color: white; 
    border-radius: 10px;  
}

.mesg{
    font-size: 30px;
    color: rgb(255, 223, 65);
    direction: inherit;
}
 
.hide{
    display: none;
}